@-webkit-keyframes swing__toggle {
  16% {
    -webkit-transform: translateX(3px);
            transform: translateX(3px);
  }
  33% {
    -webkit-transform: translateX(-3px);
            transform: translateX(-3px);
  }
  50% {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
  }
  66% {
    -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
  }
  82% {
    -webkit-transform: translateX(1px);
            transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(-1px);
            transform: translateX(-1px);
  }
}

@keyframes swing__toggle {
  16% {
    -webkit-transform: translateX(3px);
            transform: translateX(3px);
  }
  33% {
    -webkit-transform: translateX(-3px);
            transform: translateX(-3px);
  }
  50% {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
  }
  66% {
    -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
  }
  82% {
    -webkit-transform: translateX(1px);
            transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(-1px);
            transform: translateX(-1px);
  }
}

body {
  margin: 0;
  font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: #87949E;
  background: #ffffff;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 100;
}

.line {
  width: 100%;
  max-width: 30px;
  height: 1px;
  background: #17DAA3;
  margin: 40px 0;
}

.listElementsByCircle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.listElementsByCircle .listElementsByCircle__circle {
  width: 10px;
  height: 10px;
  margin-right: 13px;
  border: 2px solid #ffffff;
  border-radius: 50%;
}

.listElementsByCircle .listElementsByCircle__circle:nth-of-type(1) {
  background: #ffffff;
}

.text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.title__Text {
  font-size: 56px;
  color: #576671;
  font-weight: initial;
  padding-top: 55px;
}

.subtitle__Text {
  color: #87949e;
  padding-bottom: 40px;
  text-align: center;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  font-size: 14px;
  background-color: #17DAA3;
  width: 100%;
  max-width: 179px;
  height: 43px;
  border-radius: 21px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/*Container
=======================*/
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.startPage {
  background: #0a1e23 url(../background_image/background_img_northern_lights_1.png) center no-repeat/cover;
}

.startPage .listElementsByCircle {
  padding-top: 40px;
}

.startPage .listElementsByCircle .listElementsByCircle__circle {
  cursor: pointer;
}

.header {
  width: 100%;
  height: 100px;
  position: relative;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 211;
}

.fixed {
  position: fixed;
  height: 70px;
  background: #17DAA3;
  z-index: 100;
}

.nav {
  font-size: 14px;
  text-transform: uppercase;
}

.nav .nav__link {
  margin-left: 60px;
  color: #ffffff;
  text-decoration: none;
  opacity: .8;
}

.nav .nav__link:hover {
  opacity: 1;
  text-decoration: underline;
  -webkit-transition: opacity .5s linear;
  transition: opacity .5s linear;
}

.nav .nav__link:first-child {
  margin-left: 0;
}

.burger {
  display: none;
  padding: 9px 2px;
  background: none;
  border: 0;
  cursor: pointer;
}

.burger:hover {
  -webkit-animation: swing__toggle 0.6s ease;
          animation: swing__toggle 0.6s ease;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.burger__menu {
  display: block;
  width: 28px;
  height: 3px;
  background-color: #fff;
  font-size: 0;
  color: transparent;
  position: relative;
}

.burger__menu::after, .burger__menu::before {
  content: "";
  height: 100%;
  background-color: #fff;
  position: absolute;
  right: 0;
  z-index: 1;
}

.burger__menu::before {
  width: 28px;
  top: -8px;
}

.burger__menu::after {
  width: 28px;
  top: 8px;
}

.show {
  background: #00000050;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  margin-top: 10px;
  margin-right: 0;
}

.show .nav__link {
  padding: 8px 0;
  margin-left: 0;
}

.startPage__text {
  padding-top: 150px;
  color: #ffffff;
}

.startPage__text .title__startPage {
  font-size: 56px;
  text-align: center;
  font-weight: 100;
  padding: 0 30px;
}

.startPage__text .title__startPage span {
  font-weight: 800;
}

.startPage__text .arrow {
  height: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.startPage__text .arrow .arrow__left:hover, .startPage__text .arrow .arrow__right:hover {
  cursor: pointer;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-transition: -webkit-transform .2s linear;
  transition: -webkit-transform .2s linear;
  transition: transform .2s linear;
  transition: transform .2s linear, -webkit-transform .2s linear;
}

.startPage__text .subtitle__startPage {
  padding-top: 40px;
  font-size: 24px;
  text-align: center;
  padding: 40px 30px 0;
}

.startPage__btn {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 50px;
}

.startPage__btn .btn__intro {
  cursor: pointer;
  color: #ffffff;
  background: transparent;
  border: 2px solid #ffffff;
  width: 150px;
  border-radius: 15px;
  padding: 5px 20px;
  text-align: center;
}

.downArrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 100px 0 10px;
  cursor: pointer;
}

.downArrow:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: -webkit-transform .2s linear;
  transition: -webkit-transform .2s linear;
  transition: transform .2s linear;
  transition: transform .2s linear, -webkit-transform .2s linear;
}

.aboutUs {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.heightDown {
  margin-top: 100px;
}

.aboutUs__allItems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.aboutUs__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 20px;
  width: 25%;
}

.aboutUs__item__icon {
  display: inherit;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 180px;
  border-radius: 100%;
  height: 180px;
  background: #EDEFF1;
  align-items: center;
}

.aboutUs__item__icon .aboutUsIcon {
  height: 66px;
  fill: #87949E;
}

.aboutUs__item__icon:hover {
  background: #17DAA3;
  cursor: pointer;
  -webkit-transition: background .3s linear;
  transition: background .3s linear;
  z-index: 1000;
}

.aboutUs__item__icon:hover .aboutUsIcon {
  fill: #FFFFFF;
  -webkit-transition: fill .3s linear;
  transition: fill .3s linear;
}

.aboutUs__item__title {
  font-size: 30px;
  color: #000000;
  font-weight: initial;
  padding: 25px 0 20px 0;
  text-align: center;
}

.aboutUs__item__subtitle {
  text-align: center;
  padding-bottom: 30px;
}

.aboutUs__LearnMore {
  padding-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.photo {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #FFFFFF;
}

.photo__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
}

.photo__inner:nth-of-type(odd) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  background: #F9F9FA;
}

.photo__article {
  padding: 20px 0;
}

.photo__article .photo__section {
  padding-top: 30px;
}

.photo__article .btn {
  margin: 30px 0px;
}

.photo__aside {
  min-width: 50%;
  width: 100%;
}

/* OPTION */
.option {
  background: #0a1e23 url(../background_image/background_img_options_1.jpg) center no-repeat/cover;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.option .listElementsByCircle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  margin: 120px 0 150px;
}

.option .listElementsByCircle .listElementsByCircle__circle {
  cursor: pointer;
}

.option__photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 170px 0px 0px;
}

.option__title {
  font-size: 30px;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 30px 0;
}

.option__title::before {
  content: url(../icons/left_arrow.png);
  cursor: pointer;
}

.option__title::after {
  content: url(../icons/right_arrow.png);
  cursor: pointer;
}

.option__title .option__title__color {
  color: #17DAA3;
}

.option__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.ourServices {
  background: #F9F9FA;
  height: 100%;
}

.ourServices__allItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0px 0;
}

.ourServices__item {
  padding: 0px 10px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  width: 50%;
}

.ourServices__item__icon {
  background: #FFFFFF;
  min-height: 60px;
  height: 60px;
  min-width: 60px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px 10px 10px 0px;
}

.ourServices__item__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.ourServices__item__text .ourServices__item__title {
  font-size: 56px;
}

.team {
  height: 100%;
}

.team__photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.team__photo__item {
  position: relative;
  overflow: hidden;
  margin: auto;
  width: 20%;
  height: 350px;
}

.team__photo__item .team__photo__img {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  opacity: 1;
}

.team__photo__item .team__photo__img:hover {
  opacity: .1;
  -webkit-transition: opacity .25s linear;
  transition: opacity .25s linear;
}

.team__photo__item .team__photo__content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 36px;
  color: #aa9191;
  background-color: #17DAA3;
  opacity: 1;
}

.pricing {
  height: 100%;
  background: #f9f9fa;
  padding-bottom: 40px;
}

.pricing__allElements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.pricing__item {
  max-width: 25%;
  padding: 0 15px 30px;
  margin: auto;
}

.container__pricing {
  background: #ffffff;
  padding: 20px;
}

.pricing__element__titlePrice {
  font-size: 60px;
  color: #17DAA3;
  padding-bottom: 20px;
  padding-top: 10px;
}

.pricing__element__subtitle {
  color: #87949e;
  padding-bottom: 30px;
}

.greyLine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #eeeff1;
  height: 1px;
}

.pricing__element__description {
  padding: 20px 0;
  line-height: 2.5em;
}

.pricing__element__footer {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.pricing__element__footer:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-transition: -webkit-transform 0.15s linear;
  transition: -webkit-transform 0.15s linear;
  transition: transform 0.15s linear;
  transition: transform 0.15s linear, -webkit-transform 0.15s linear;
}

.pricing__element__footer .container__pricing {
  background: #17DAA3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: col;
          flex-direction: col;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0px 0px 20px -10px #eeeff1 inset;
          box-shadow: 0px 0px 20px -10px #eeeff1 inset;
  border-radius: 0 0 4px 4px;
}

.pricing__element__footer .container__pricing .pricing__element__footer__title {
  color: #ffffff;
}

.map {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 80px 0;
}

.map__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #576671;
  width: 50%;
  padding: 0 10px 0px 20px;
}

.map__text .btn {
  -ms-flex-item-align: inherit;
      -ms-grid-row-align: inherit;
      align-self: inherit;
}

.map__title {
  font-size: 60px;
  padding-bottom: 30px;
}

.map__subtitle {
  padding-bottom: 30px;
}

.map__chart {
  width: 50%;
}

.map__chart .chart {
  width: 100%;
}

/*  TRY  */
.try {
  height: 500px;
  background: #0a1e23 url(../background_image/try.jpg) center no-repeat/cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.try__title {
  padding: 35px 0;
  font-size: 56px;
  text-align: center;
}

.btnSymu {
  padding: 35px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/*Footer*/
.footer {
  background: #ffffff url(../background_image/footer__background.png) center no-repeat/cover;
  height: 500px;
  padding: 50px 0 0 0;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__copyright {
  display: inherit;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__copyright .footer__icon {
  padding-right: 25px;
}

.footer__nav a {
  padding-left: 40px;
  color: #CED3D7;
  text-decoration: none;
}

.footer__nav a:first-child {
  padding-left: 0;
}

.footer__nav a:hover {
  color: #87949E;
  -webkit-transition: color .2s linear;
  transition: color .2s linear;
}

/*     MEDIA 1300px++*/
/*     MEDIA 992px++*/
@media (max-width: 991px) {
  body {
    font-size: 17px;
  }
  .title__Text {
    font-size: 48px;
    padding-top: 50px;
  }
  .subtitle__Text {
    padding-bottom: 35px;
  }
  .line {
    margin: 35px 0;
  }
  .header .nav {
    font-size: 13px;
  }
  .header .nav .nav__link {
    margin-left: 50px;
  }
  .startPage__text .title__startPage {
    font-size: 48px;
  }
  .aboutUs__item__title {
    font-size: 26px;
  }
  .option__title {
    font-size: 26px;
  }
  .ourServices__item__text .ourServices__item__title {
    font-size: 48px;
  }
  .team__photo__item {
    width: 25%;
  }
  .pricing__item {
    max-width: 33.33333%;
  }
  .try__title {
    font-size: 52px;
  }
  .footer__nav a {
    padding-left: 30px;
  }
}

/*     MEDIA 880px++*/
@media (max-width: 880px) {
  .nav {
    display: none;
  }
  .show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .burger {
    display: block;
  }
  body {
    font-size: 16px;
  }
  .title__Text {
    font-size: 44px;
    padding-top: 45px;
  }
  .subtitle__Text {
    padding-bottom: 30px;
  }
  .line {
    margin: 30px 0;
  }
  .startPage__text .title__startPage {
    font-size: 44px;
  }
  .option__title {
    font-size: 24px;
  }
  .team__photo__item {
    width: 33.3333333%;
  }
  .map {
    padding: 60px 0;
  }
  .map__text {
    width: 100%;
    padding-bottom: 30px;
  }
  .map__chart {
    width: 100%;
  }
  .try__title {
    font-size: 44px;
  }
}

/*     MEDIA 768px++*/
@media (max-width: 768px) {
  .container {
    padding: 0 13px;
  }
  body {
    font-size: 16px;
  }
  .title__Text {
    font-size: 40px;
    padding-top: 40px;
  }
  .subtitle__Text {
    padding-bottom: 30px;
  }
  .line {
    margin: 30px 0;
  }
  .header .nav {
    font-size: 13px;
  }
  .header .nav .nav__link {
    margin-left: 24px;
  }
  .startPage__text .title__startPage {
    font-size: 40px;
  }
  .aboutUs__item {
    width: 50%;
  }
  .aboutUs__item__title {
    font-size: 22px;
  }
  .option__title {
    font-size: 20px;
  }
  .option__subtitle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .ourServices__item {
    width: 75%;
  }
  .ourServices__item__text .ourServices__item__title {
    font-size: 40px;
  }
  .team__photo__item {
    width: 50%;
  }
  .pricing__item {
    max-width: 50%;
  }
  .try__title {
    font-size: 40px;
  }
  .footer__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__nav {
    padding-top: 30px;
  }
  .footer__nav a {
    padding-left: 26px;
  }
}

/*     MEDIA 576px++*/
@media (max-width: 576px) {
  .container {
    padding: 0 10px;
  }
  .ourServices__item {
    width: 100%;
  }
  .team__photo__item {
    width: 50%;
  }
  .pricing__item {
    max-width: 75%;
  }
}

/*     MEDIA 441px++*/
@media (max-width: 441px) {
  .container {
    padding: 0 8px;
  }
  .aboutUs__item {
    width: 100%;
  }
  .team__photo__item {
    width: 100%;
  }
  .pricing__item {
    max-width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */